.cabecalho__nav{

    display: flex;
    justify-content:space-between;
    
    

}

.cabecalho__nav__titulo{
    display: flex;
    align-items: center;
    gap:0.5rem;
    margin-left: 3.5rem;
    margin-top: 0.5rem;
    font-family: var(--font-padrao);
    
}

.cabecalho__nav__links{

    
    display: flex;
    gap:1.5rem;
    margin-top: 1.5rem;
    margin-right: 17rem;
    align-items: center;
   
}

.cabecalho__nav__login{

    display: flex;
    margin-right: 5rem;
    gap:1.2rem;
    margin-top:1.6rem;
    align-items: center;
    
}

.cabecalho__nav__botoes{
    text-decoration: none;
    color: var(--cor-de-letra-padrao);
}   

.cadastrar{


    background-color: var(--cor-de-letra-terciaria);
    color: var(--cor-de-fundo);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: var(--font-padrao);

}