@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
@import url(/css/reset.css);
@import url(/css/header.css);

:root{

    --cor-de-fundo:#FFFFFF;
    --cor-de-letra-padrao:#667085;
    --cor-de-letra-secundaria:#3A404E;
    --cor-de-letra-terciaria:#8E2424;
    --cor-de-letra-quarternaria:#101828;

    --font-padrao: 'Inter', sans-serif;
}




.corpo{

    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.corpo__sobre{

    color: var(--cor-de-letra-terciaria);
    font-family: var(--font-padrao);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px
}

.corpo__sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    font-family: var(--font-padrao);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    gap: 0.5rem;
    
    

}

.corpo__sec2{
    display: flex;
    width: 1280px;
    height: 192px;
    margin-left: 3rem;
    align-items: center;
    justify-content: baseline;
    gap:5rem ;
    
}

.corpo__400{

    width: 280px;
    height: 168px;
}

.corpo__titulo{

    font-weight: 600;
    font-size: 48px;
    line-height: 60px;

}

.corpo__paragrafo{
    width: 791px;
    height: 60px;
    text-align: center;
    margin-top: 1rem;
    color: var(--cor-de-letra-padrao);
    
}

.corpo__400__titulo{

    color:var(--cor-de-letra-terciaria);
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    font-family: var(--font-padrao);

}

.corpo__400__span{

    color:var(--cor-de-letra-quarternaria);
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    font-family: var(--font-padrao);
}

.corpo__400__paragrafo{

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-de-letra-padrao);
}

.profissoes__base{

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
